@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

// --------------------- global styles--------------------------------
* {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
html {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

// ----------------------------- Main ------------------------
main {
  margin-left: 240px;
  padding-top: 68px;
  background-color: #f6f8fa;
  height: 100vh;
  overflow-y: scroll;
  width: calc(100vw - 240px);

  h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 33px 0px 31px 40px;
  }
  // ---- truck cards
  .percent__cards {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 33px;
    margin-left: 40px;
    margin-right: 40px;

    .card {
      width: 100%;
      min-width: 257px;
      height: 100px;
      background-color: #fff;
      display: flex;
      align-items: center;
      border-radius: 10px;

      .truck__img {
        margin-left: 21px;
      }

      .card__description {
        display: flex;
        flex-direction: column;
        margin-left: 18px;
        gap: 2px;

        .percent {
          display: flex;
          align-items: center;
          gap: 7px;

          h2 {
            font-size: 24px;
            font-weight: 600;
            color: #1f384c;
          }

          span {
            color: #149d52;
            font-size: 12px;
            font-weight: 600;
          }
        }

        h3 {
          font-weight: 400;
          font-size: 16px;
          color: #80809c;
          line-height: 24px;
        }
      }
    }
  }
  // ----- stats section
  .stats__section {
    height: 520px;
    min-width: 1127px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 32px 40px 32px 40px;
    gap: 40px;
    border-radius: 10px;

    hr {
      border: none;
      border-left: 1px solid #d6d6d6;
      height: 100%;
      width: 1px;
    }

    .stat__left {
      width: 60%;
      height: 100%;

      .stat__title__date {
        display: flex;
        justify-content: space-between;

        input {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          gap: 10px;
          color: #504178;
          padding: 10px;
          border: 1px solid #00000033;
          border-radius: 10px;
          width: 180px;
        }
      }

      .schema__container {
        display: flex;
        height: 100%;

        .numbers__list {
          li {
            padding: 8px;
            margin: 9px;
            font-size: 12px;
            font-weight: 600;
            line-height: 12px;
            color: #939393;
          }
        }

        .months__and__bars {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          margin-top: 20px;

          .bars {
            display: flex;
            gap: 4%;
            height: 379px;
            margin-left: 13px;

            .bar {
              width: 100%;
              height: 100%;
              background-color: #ede7fd;
            }

            .inside__bar {
              background-color: #504178;
              height: 100%;
            }

            .bar1 {
              .inside__bar {
                clip-path: inset(20% 0% 0 0%);
              }
            }
            .bar2 {
              .inside__bar {
                clip-path: inset(50% 0% 0 0%);
              }
            }
            .bar3 {
              .inside__bar {
                clip-path: inset(35% 0% 0 0%);
              }
            }
            .bar4 {
              .inside__bar {
                clip-path: inset(80% 0% 0 0%);
              }
            }
            .bar5 {
              .inside__bar {
                clip-path: inset(50% 0% 0 0%);
              }
            }
            .bar6 {
              .inside__bar {
                clip-path: inset(30% 0% 0 0%);
              }
            }
            .bar7 {
              .inside__bar {
                clip-path: inset(60% 0% 0 0%);
              }
            }
            .bar8 {
              .inside__bar {
                clip-path: inset(10% 0% 0 0%);
              }
            }
            .bar9 {
              .inside__bar {
                clip-path: inset(30% 0% 0 0%);
              }
            }
            .bar10 {
              .inside__bar {
                clip-path: inset(45% 0% 0 0%);
              }
            }
            .bar11 {
              .inside__bar {
                clip-path: inset(20% 0% 0 0%);
              }
            }
            .bar12 {
              .inside__bar {
                clip-path: inset(40% 0% 0 0%);
              }
            }
          }

          .months__list {
            display: flex;
            align-items: center;
            gap: 4%;
            margin-left: 13px;

            li {
              text-align: center;
              min-width: 20px;
              width: 100%;
              font-size: 12px;
              padding-top: 8px;
              font-weight: 600;
              line-height: 12px;
              color: #939393;
            }
          }
        }
      }
    }

    .stat__right {
      width: 40%;
      display: flex;
      flex-direction: column;
      ul {
        width: 100%;
        margin-top: 25px;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        gap: 14px;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          line-height: 18px;
          font-weight: 500;
          color: #273240;
          span {
            opacity: 0.7;
          }
        }
      }
    }

    h1,
    input {
      margin: 0;
      color: #1f384c;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
    }
  }
  // ----- overview section
  .overview__section {
    background-color: #fff;
    border-radius: 10px;
    margin: 40px;
    height: 521px;
    min-width: 1127px;
    padding: 37px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 18px;
        margin: 0;
      }

      input {
        height: 50px;
        background-color: #f6f8fa;
        border-radius: 10px;
        &::placeholder {
          color: #b0b0b0;
          font-size: 16px;
          line-height: 24px;
          padding-left: 10px;
        }
      }
    }

    table {
      margin-top: 19px;
      width: 100%;
    }
  }
}
// ----------------------------- side bar---------------------------
.sidebar {
  position: fixed;
  background: #0100390a;
  min-height: 100vh;
  width: 240px;
  padding: 104px 24px 12px 24px;
  z-index: 10;

  nav {
    width: 100%;
    height: 477px;
    h3 {
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #767d87;
      margin-left: 17px;
    }

    button {
      height: 51px;
      width: 174px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      background-color: #50417833;
      border-radius: 10px;
      margin-top: 26px;

      img {
        margin-right: 12px;
      }
    }

    ul {
      li {
        display: flex;
        align-items: center;
        width: 174px;
        margin: 24px 0px 24px 0px;
        cursor: pointer;

        p {
          margin-left: 12px;
          width: 100%;
          font-weight: 400;
          color: #767d87;
        }
      }
    }
  }
}
// ----------------------------- header --------------------------------
.main__header {
  width: 100vw;
  height: 68px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 1px 0px 0px #e5e5e5;
  z-index: 11;

  .logo__container {
    min-width: 240px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__actions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px 16px 32px;
    gap: 20px;
    .search__form {
      width: 60%;
      background-color: #f5f5f7;
      border-radius: 5px;

      fieldset {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #f5f5f7;
        border-radius: 5px;

        input {
          width: 100%;
          background-color: #f5f5f7;
          padding: 10px 0px 10px 15px;
          border-radius: 5px;
          min-width: 200px;

          &::placeholder {
            font-weight: 400;
            font-family: "Poppins", sans-serif;
            letter-spacing: 0.5px;
          }
        }

        img {
          margin: 10px;
        }
      }
    }

    .profile__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;

      i {
        background: #ffe6cc;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

      .dropdown {
        border: none;
        background-color: transparent;
        padding: 10px;
        color: #1f384c;
      }

      .notification__icon__container {
        position: relative;
        margin-left: 22px;
        .red__dot {
          position: absolute;
          height: 6px;
          width: 6px;
          background-color: red;
          border-radius: 50%;
          border: 1px solid white;
          top: 0;
          right: 5px;
        }
      }
    }
  }
}
